/* Arielle Style */
.home_box {
    margin: 0 auto;
    max-width: 420px;
}
.hmlogo span {
    background: grey;
    color: #fff;
    font-size: 87px;
    padding: 10px;
    margin-bottom: 16px;
}
.hmlogo {
    text-align: center;
}
.hmcontent {
    text-align: center;
}

.homeReg {
    text-align: center;
}
.content_section {
    min-height: 400px;
    padding: 20px 2px;
}

/* Caleb style */
body {
    background-image: url("../images/street-bkrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 28pt;
    cursor: pointer;
    z-index: 5;
}
h1 a {
    color: white;
    text-decoration: none;
}
h2 {
    font-size: 18pt;
}
.section-button {
    margin: 10px;
}
.greeting {
    font-family: Georgia, serif;
    font-size: large;
}
.subGreeting {
    font-family: Georgia, serif;
    font-size: medium;
}
.password{
    margin-right: 15px;
}
.warning{
    color: red;
}

@media screen and (min-width: 610px) {
    .content {
        overflow: auto;
        background-color: azure;
        max-height: 600px;
        min-width: auto;
        margin: 5px 20%;
        padding: 20px;
    }
    .mdl-card {
        width: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 610px) {
    .content {
        overflow: auto;
        background-color: azure;
        max-height: 600px;
        margin: auto;
        margin-top: 5px;
        padding: 25px;
        width: auto;
    }

    .map {
        margin: 10px;
    }
}

/* mapbox */
.map-container {
    height: 400px;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
