/* Arielle Style */
.home_box {
    margin: 0 auto;
    max-width: 420px;
}
.hmlogo span {
    background: grey;
    color: #fff;
    font-size: 87px;
    padding: 10px;
    margin-bottom: 16px;
}
.hmlogo {
    text-align: center;
}
.hmcontent {
    text-align: center;
}

.homeReg {
    text-align: center;
}
.content_section {
    min-height: 400px;
    padding: 20px 2px;
}

/* Caleb style */
body {
    background-image: url("../images/street-bkrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 28pt;
    cursor: pointer;
    z-index: 5;
}
h1 a {
    color: white;
    text-decoration: none;
}
h2 {
    font-size: 18pt;
}
.section-button {
    margin: 10px;
}
.greeting {
    font-family: Georgia, serif;
    font-size: large;
}
.subGreeting {
    font-family: Georgia, serif;
    font-size: medium;
}
.password{
    margin-right: 15px;
}
.warning{
    color: red;
}

@media screen and (min-width: 610px) {
    .content {
        overflow: auto;
        background-color: azure;
        max-height: 600px;
        min-width: auto;
        margin: 5px 20%;
        padding: 20px;
    }
    .mdl-card {
        width: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 610px) {
    .content {
        overflow: auto;
        background-color: azure;
        max-height: 600px;
        margin: auto;
        margin-top: 5px;
        padding: 25px;
        width: auto;
    }

    .map {
        margin: 10px;
    }
}

/* mapbox */
.map-container {
    height: 400px;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}  
