/* Arielle Style */
.home_box {
    margin: 0 auto;
    max-width: 420px;
}
.hmlogo span {
    background: grey;
    color: #fff;
    font-size: 87px;
    padding: 10px;
    margin-bottom: 16px;
}
.hmlogo {
    text-align: center;
}
.hmcontent {
    text-align: center;
}

.homeReg {
    text-align: center;
}
.content_section {
    min-height: 400px;
    padding: 20px 2px;
}

/* Caleb style */
body {
    background-image: url("../images/street-bkrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 28pt;
    cursor: pointer;
    z-index: 5;
}
h1 a {
    color: white;
    text-decoration: none;
}
h2 {
    font-size: 18pt;
}
section {
    background-color: azure;
}
.section-button {
    margin: 10px;
}
.greeting {
    font-family: Georgia, serif;
    font-size: large;
}
.subGreeting {
    font-family: Georgia, serif;
    font-size: medium;
}
#myProgress {
    width: 100%;
    background-color: grey;
    margin-bottom: 25px;
}  
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}